<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projet : Molécules et organismes - Welcome</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./../../../assets/stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./../../../assets/stylesheets/vendor/bootstrap.css">
    <link rel="stylesheet" href="./../../../assets/stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="./../../../assets/stylesheets/vendor/prism-okaidia.css">
    <link rel="stylesheet" href="./../../../assets/stylesheets/vendor/custom.min.css">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23019901-1');
    </script>

    <!-- Code CSS propre au projet -->
    <link rel="stylesheet" media="all" href="./../../../assets/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <h2>Hello World</h2>
      <p>
        The time is now: <%= Time.now %>
      </p>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <script src="./../../../assets/javascripts/vendor/bootstrap.bundle.min.js"></script>
    <script src="./../../../assets/javascripts/vendor/jquery.min.js"></script>
    <script src="./../../../assets/javascripts/vendor/prism.js" data-manual></script>
    <script src="./../../../assets/javascripts/vendor/custom.js"></script>
  </body>
</html>   
